@import-normalize; /* bring in normalize.css styles */

body {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000000; */
  color: #ffffff;
  background-image: url(../public/img/space_x_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.slide-img {
  width: 800px;
  /* height: 700px; */
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  display: flex;
  justify-content: space-around;
}

.dragon-info {
  display: flex;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .wrapper {
    max-width: 390px;
  }
  .dragon-info {
    display: block;
  }
}
